<settings version="2">
    <!-- Master Configuration -->
    <category label="Master">
        <setting label="Master IP" type="text" id="master_ip" default="0.0.0.0" help="Enter the IP address of the master Kodi server." />
        <setting label="Master Encoder URL" type="text" id="master_encoder_url" default="http://example.com" help="Provide the streaming URL for the associated master encoder." />
        <setting label="Server Port" type="number" id="server_port" default="9191" help="Specify the port number for the server connection." />
    </category>

    <!-- Slave Configurations -->
    <category label="Slaves">
        <!-- Slave 1 -->
        <setting label="Slave 1 IP" type="text" id="slave_1_ip" default="0.0.0.0" help="Enter the IP address of the first slave Kodi server." />
        <setting label="Slave 1 Encoder URL" type="text" id="slave_1_encoder_url" default="http://example.com" help="Provide the streaming URL for the first associated slave encoder." />

        <!-- Slave 2 -->
        <setting label="Slave 2 IP" type="text" id="slave_2_ip" default="0.0.0.0" help="Enter the IP address of the second slave Kodi server." />
        <setting label="Slave 2 Encoder URL" type="text" id="slave_2_encoder_url" default="http://example.com" help="Provide the streaming URL for the second associated slave encoder." />

        <!-- Slave 3 -->
        <setting label="Slave 3 IP" type="text" id="slave_3_ip" default="0.0.0.0" help="Enter the IP address of the third slave Kodi server." />
        <setting label="Slave 3 Encoder URL" type="text" id="slave_3_encoder_url" default="http://example.com" help="Provide the streaming URL for the third associated slave encoder." />
    </category>
</settings>
